<div class="container">
    <div class="customer-details-wrapper">
        <div class="row">
            <div class="col-6">
                <span>Enter Customer Name: </span>
                <mat-form-field appearance="outline" class="parent-mat-form">
                    <input matInput [(ngModel)]="customerName" required (keypress)="fieldKeyPressEvent('name', $event)">
                </mat-form-field>
            </div>
            <div class="col-6">
                <!-- <mat-form-field class="mat-form-field-class">
                    <input matInput readonly [matDatepicker]="picker" [(ngModel)]="billedDate"
                        placeholder="Billing Date">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field> -->
            </div>
        </div>
        <!-- <div class="row">
            <div class="col-6">
                <mat-form-field class="mat-form-field-class">
                    <input matInput placeholder="Customer Contact Number" [(ngModel)]="customerContactNumber">
                </mat-form-field>
            </div>
            <div class="col-6">
                <mat-form-field class="mat-form-field-class">
                    <mat-label>Billing By:</mat-label>
                    <mat-select [(value)]="billedBy">
                        <mat-option value="Dinesh">Dinesh</mat-option>
                        <mat-option value="Brajesh">Brajesh</mat-option>
                        <mat-option value="Premlata">Premlata</mat-option>
                        <mat-option value="Shrushti">Shrushti</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div> -->
    </div>

    <div class="add-items">Add Items</div>

    <div class="items-wrapper">
        <form [formGroup]="optionCForm" novalidate>
            <table class="table" style="border: hidden;">
                <thead class="text-nowrap">
                    <th class="item-heading">Item name</th>
                    <th class="item-heading">Number of Items</th>
                    <th class="item-heading">Price per Item</th>
                    <th class="item-heading">Total Item Amount</th>
                </thead>
                <tbody>
                    <ng-container formArrayName="tableRows"
                        *ngFor="let group of getFormControls.controls ; let i=index">
                        <tr [formGroupName]="i" style="border: hidden;">
                            <td>
                                <mat-form-field appearance="outline" class="parent-mat-form">
                                    <input matInput type="text" (keypress)="fieldKeyPressEvent('name', $event)" formControlName="itemName" [value]=""
                                        autocomplete="off">
                                </mat-form-field>
                            </td>

                            <td>
                                <mat-form-field appearance="outline" class="parent-mat-form">
                                    <input matInput type="text" (keypress)="fieldKeyPressEvent('number', $event)" maxlength="10" formControlName="numberOfItems"
                                        [value]="" autocomplete="off">
                                </mat-form-field>
                            </td>
                            <td>
                                <mat-form-field appearance="outline" class="parent-mat-form">
                                    <input matInput type="text" (keypress)="fieldKeyPressEvent('number', $event)" formControlName="pricePerItem" [value]=""
                                        autocomplete="off">
                                </mat-form-field>
                            </td>
                            <td>
                                <mat-form-field appearance="outline" class="parent-mat-form">
                                    <input matInput type="text" (keypress)="fieldKeyPressEvent('number', $event)" maxlength="10" formControlName="totalItemAmount"
                                        [value]="" autocomplete="off" readonly>
                                </mat-form-field>
                            </td>
                            <td style="padding-top: 22px;">
                                <a href="javascript:void(0)">
                                    <mat-icon (click)="addRow()">add_circle_outline</mat-icon>
                                </a>
                            </td>
                            <td style="padding-top: 22px;">
                                <a href="javascript:void(0)" *ngIf="i > 0">
                                    <mat-icon style="color: red;" (click)="deleteRow(i)">delete_forever</mat-icon>
                                </a>
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </form>
    </div>

    <div class="flex-wrapper">
        <div style="margin-left: 72px;">Total</div>
        <div style="margin-right: 160px;">{{totalAmount}}</div>
    </div>
    <div style="float: right;padding-bottom: 30px;">
        <button type="button" (click)="previewClick()" class="btn btn-primary preview-button">Preview</button>
    </div>
</div>